.input{
    width:100%;
    height:40px;
    background-color: rgb(142, 161, 89);
    border:none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.input:focus{
    outline: none;
    border:1px rgb(171, 171, 88) solid;
    box-shadow: 0 0 1px 2px rgb(110, 133, 34);
}

label{
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

textarea{
    height: 200px !important;
    max-width: 100% !important;
    resize:none;
}